################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Build outputs for all projects under src, including nested projects.
/src/**/bin/
/src/**/obj/
/nupkg
/artifacts
/publish
/SevenZipWrapper.Benchmark/Resources/LT_Nemesis.7z
*.ps1
!/scripts/*.ps1
